html {
    scroll-behavior: smooth;

}

body {
    font-family: Arial, sans-serif;
    background-color: #06171E;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;

}

header {
    background-color: #09212A;
    width: 100%;
    display: flex;
    justify-content: center;
}

.position_close {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

}


.close-btn {
    background: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}



.header-content {
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
}

.imgheader {
    width: 350px;
    height: 120px;
    padding-left: 50px;
}


.figtree {
    font-family: "Figtree";
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

h1 {
    color: white;
    font-family: "Figtree", sans-serif;
    font-size: 56px;
    display: flex;
    justify-content: center;
    margin: 65px;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1440px;
}

main {
    width: 100%;
    flex: 1;
}

#gallery {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(6, 150px);
    gap: 24px;

    justify-content: center;
}

.gallery-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;

}

.thumbnail-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}


.thumbnail {
    width: 150px;
    height: 150px;
    object-fit: cover;
    box-sizing: border-box;
    border: 2px solid transparent;

    cursor: pointer;
    transition: transform 0.1s ease-out;
}

.thumbnail:hover {
    transform: scale(1.03);
    border-color: #55cee0;
    border-radius: 20px;
}


.footer-content {

    margin: 10px;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    gap: 10px;
    padding-top: 25px;
}

.footer_end {
    width: 100%;
    height: 128px;
    background-color: #09212A;
    margin-top: 50px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
}

dialog {
    background: transparent;
    border: none;
    padding: 0;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.6);
}


.dialog_header {
    position: absolute;
    top: 56px;
    left: 70px;
    right: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.dialog_footer {
    position: absolute;
    bottom: 24px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 56px;
    color: white;
}

.nav-btn {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: rgb(30, 30, 35);
    border: none;
    cursor: pointer;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-btn img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.nav-btn:hover {

    color: #FF4500;
    background-color: rgb(56, 36, 40);
}

.arrow-left {
    transform: rotate(180deg);
}

.pfeil {
    width: 24px;
    height: 24px;
}


.dialog_box {
    position: relative;
    width: 675px;
    height: 690px;
    background-color: #124658;
    border-radius: 40px;
    padding: 20px 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    overflow-x: hidden;
}

#dialogImage {
    width: 375px;
    height: 500px;
    object-fit: cover;
    flex: 1;
}


@media (max-width: 1050px) {
    .imgheader {
        width: 250px;
        height: 90px;
        padding-left: 20px;
    }



    #gallery {
        grid-template-columns: repeat(2, 150px);

    }

    h1 {
        font-size: 40px;
        margin: 30px;
    }

    .dialog_box {
        width: 340px;
        height: 650px;

    }

    .dialog_header {
        position: absolute;
        top: 30px;
        left: 50px;
        right: 70px;
        display: flex;
        justify-content: center;
        color: white;
        font-size: 24px;
        font-weight: 700;
        flex-direction: column-reverse;
        align-items: initial;
    }


    .close-btn {
        display: flex;
        justify-content: flex-end;
    }

}

@media (max-width: 520px) {
    #gallery {
        grid-template-columns: repeat(2, 120px);
        gap: 12px;
    }

    .thumbnail {
        width: 100px;
        height: 100px;
        object-fit: cover;

        cursor: pointer;
        transition: transform 0.1s ease-out;
    }



    h1 {
        font-size: 25px;
        margin: 20px;
    }

    .header-content {
        justify-content: center;
    }

    .imgheader {
        width: 168px;
    }

    .dialog_box {
        width: 90vw;
        height: 620px;
        padding: 0;
        background-color: #124658;

    }

    #dialogImage {
        width: 300px;
        height: 500px;

    }

    .dialog_header {
        top: 0px;
        left: 20px;
        right: 20px;
    }

    .dialog_footer {
        position: absolute;
        bottom: 4px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 56px;
        color: white;
    }

}