html {
    scroll-behavior: smooth;

}

body {
    font-family: Arial, sans-serif;
    background-color: #06171E;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;

    flex-direction: column;


}

header {
    background-color: #09212A;
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-content {
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
}

.imgheader {
    width: 350px;
    height: 120px;
    padding-left: 50px;
}

h1 {
    color: white;
    font-family: cursive;
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin: 65px;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1440px;
}

main {
    width: 100%;
}

#gallery {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(6, 150px);
    gap: 24px;

    justify-content: center;
}

.gallery-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.thumbnail {
    width: 150px;
    height: 150px;
    object-fit: cover;

    cursor: pointer;
    transition: transform 0.3s ease;
}

.thumbnail:hover {
    transform: scale(1.05);

}




@media (max-width: 1100px) {
    .imgheader {
        width: 250px;
        height: 90px;
        padding-left: 20px;
    }
    
    
    
    #gallery {
        grid-template-columns: repeat(2, 150px);

    }

    h1 {
        font-size: 40px;
        margin: 30px;
    }
}

@media (max-width: 600px) {
    #gallery {
        grid-template-columns: repeat(2, 120px);
        gap: 12px;
    }

    .thumbnail {
        width: 100px;
        height: 100px;
        object-fit: cover;

        cursor: pointer;
        transition: transform 0.3s ease;
    }



    h1 {
        font-size: 25px;
        margin: 20px;
    }
}